In [42]:
import pandas as pd
import numpy as np

In [43]:
data = pd.read_csv("/content/customers.csv")
data.head(10)

,customer_id,first_name,last_name,email,phone,signup_date
0,1,Omar,Sara,omar_245@yahoo.com,1.165623e+09,2023-01-26
1,2,Emily,Ali,emily_848@hotmail.com,1.897149e+09,NaN
2,3,Ahmed,Ali,ahmed_685@outlook.com,1.647894e+09,2023-02-20
3,4,Mona,Khaled,mona_83@gmail.com,1.204199e+09,2022-04-06
4,5,John4,Hassan-,john4_745@yahoo.com,1.394414e+09,2022-12-26
5,6,Emily,Ahmed,emily_45@yahoo.com,NaN,2022-02-21
6,7,Omar,Hassan,omar_339@hotmail.com,1.428927e+09,2022-06-08
7,8,eladhK,Khaled,eladhk_855@outlook.com,1.674518e+09,2024-01-28
8,9,Emily,Mona,emily_437@yahoo.com,1.461091e+09,2024-11-19
9,10,John,Nora-,john_422@gmail.com,1.684547e+09,2024-06-12

In [44]:
data.shape

(5000, 6)

In [45]:
data.isna().sum()

customer_id      0
first_name       0
last_name        0
email          521
phone          503
signup_date    282
dtype: int64

In [46]:
data['last_name'] = data['last_name'].str.replace(r'[-,@1-9]+$', '', regex=True)
data['last_name'] = data['last_name'].str.title()
display(data.head(10))

,customer_id,first_name,last_name,email,phone,signup_date
0,1,Omar,Sara,omar_245@yahoo.com,1.165623e+09,2023-01-26
1,2,Emily,Ali,emily_848@hotmail.com,1.897149e+09,NaN
2,3,Ahmed,Ali,ahmed_685@outlook.com,1.647894e+09,2023-02-20
3,4,Mona,Khaled,mona_83@gmail.com,1.204199e+09,2022-04-06
4,5,John4,Hassan,john4_745@yahoo.com,1.394414e+09,2022-12-26
5,6,Emily,Ahmed,emily_45@yahoo.com,NaN,2022-02-21
6,7,Omar,Hassan,omar_339@hotmail.com,1.428927e+09,2022-06-08
7,8,eladhK,Khaled,eladhk_855@outlook.com,1.674518e+09,2024-01-28
8,9,Emily,Mona,emily_437@yahoo.com,1.461091e+09,2024-11-19
9,10,John,Nora,john_422@gmail.com,1.684547e+09,2024-06-12

In [53]:
data['first_name'] = data['first_name'].str.replace(r'[-,@1-9]+$', '', regex=True)
data['first_name'] = data['first_name'].str.title()
display(data.head(10))

,customer_id,first_name,last_name,email,phone,signup_date
0,1,Omar,Sara,omar_245@yahoo.com,1.165623e+09,2023-01-26
1,2,Emily,Ali,emily_848@hotmail.com,1.897149e+09,NaN
2,3,Ahmed,Ali,ahmed_685@outlook.com,1.647894e+09,2023-02-20
3,4,Mona,Khaled,mona_83@gmail.com,1.204199e+09,2022-04-06
4,5,John,Hassan,john4_745@yahoo.com,1.394414e+09,2022-12-26
5,6,Emily,Ahmed,emily_45@yahoo.com,NaN,2022-02-21
6,7,Omar,Hassan,omar_339@hotmail.com,1.428927e+09,2022-06-08
7,8,Eladhk,Khaled,eladhk_855@outlook.com,1.674518e+09,2024-01-28
8,9,Emily,Mona,emily_437@yahoo.com,1.461091e+09,2024-11-19
9,10,John,Nora,john_422@gmail.com,1.684547e+09,2024-06-12

In [57]:
data['email'] = data['email'].fillna("No mail")
data['phone'] = data['phone'].fillna("No phone")
data['signup_date'] = data['signup_date'].fillna("No signup_date")
data.head(20)

,customer_id,first_name,last_name,email,phone,signup_date
0,1,Omar,Sara,omar_245@yahoo.com,1165623467.0,2023-01-26
1,2,Emily,Ali,emily_848@hotmail.com,1897148785.0,No signup_date
2,3,Ahmed,Ali,ahmed_685@outlook.com,1647893651.0,2023-02-20
3,4,Mona,Khaled,mona_83@gmail.com,1204198959.0,2022-04-06
4,5,John,Hassan,john4_745@yahoo.com,1394413581.0,2022-12-26
5,6,Emily,Ahmed,emily_45@yahoo.com,No phone,2022-02-21
6,7,Omar,Hassan,omar_339@hotmail.com,1428926559.0,2022-06-08
7,8,Eladhk,Khaled,eladhk_855@outlook.com,1674518362.0,2024-01-28
8,9,Emily,Mona,emily_437@yahoo.com,1461091263.0,2024-11-19
9,10,John,Nora,john_422@gmail.com,1684546844.0,2024-06-12
10,11,Mona,Khaled,mona_475@yahoo.com,No phone,2023-05-09
11,12,Omar,John,omar_817@gmail.com,1304701962.0,2024-04-14
12,13,Ali,Khaled,ali_216@yahoo.com,1517925507.0,2023-09-23
13,14,Hassan,Omar,hassan_36@yahoo.com,1811926682.0,2022-08-27
14,15,Ali,Mona,ali_122@hotmail.com,1804441151.0,2024-04-08
15,16,Omar,Emily,omar_455@hotmail.com,1738505408.0,2022-06-28
16,17,Omar,Khaled,omar_415@yahoo.com,1809224315.0,No signup_date
17,18,Ahmed,Emily,ahmed_268@yahoo.com,1444995072.0,2023-04-15
18,19,Hassan,John,hassan_225@hotmail.com,1114799148.0,2023-07-02
19,20,Sara,Mona,sara_825@gmail.com,1485120242.0,2024-02-05

In [58]:
data.isna().sum()

customer_id    0
first_name     0
last_name      0
email          0
phone          0
signup_date    0
dtype: int64